// Fonts
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

// Partials
@import "Partials/_variables.scss";
@import "Partials/_common.scss";
@import "Partials/_header.scss";
@import "Partials/_main.scss";
@import "Partials/_comic.scss"; 

