header {
  position: relative;
  height: 80px;
  background-color: $headerColor;
  color: $textColorPrimary;
  line-height: 80px;
  box-shadow: 10px 0 15px #000;

  h1 {
    font-size: 40px;
    text-shadow: 3px 3px 0 rgba(255,255,255,1);
    letter-spacing: 2px;
  }
}